@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

body {
  padding-top: 130px;
}

@import 'navbar';
@import 'breadcrumb';

.Posts {
  &__col {
    margin-bottom: 2rem;

    &__card {
      height: 100%;
    }
  }
}

.Post {
  &__title {
    font-weight: 700;
  }
}

.Comments {
  margin-top: 3rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  &__comment {
    margin-bottom: 2rem;
  }
}
