@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
body {
  padding-top: 130px; }

.Navbar .navbar-brand {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase; }

.Breadcrumb {
  background-color: #e9ecef;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 1; }
  .Breadcrumb__itemsList {
    margin: 0; }

.Posts__col {
  margin-bottom: 2rem; }
  .Posts__col__card {
    height: 100%; }

.Post__title {
  font-weight: 700; }

.Comments {
  margin-top: 3rem; }
  .Comments__title {
    font-size: 1.5rem;
    font-weight: 700; }
  .Comments__comment {
    margin-bottom: 2rem; }
